# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Data files (large)
data/
*.zip

# Extracted features (regenerable)
features.csv

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

data/*.zip
data/Audio_Song_Actors_01-24/
data/Audio_Speech_Actors_01-24/
